.about-page {
  color: black;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

.about-page-overview-top {
  text-align: left;
}

.about-page-overview-bottom {
  text-align: left;
}

.about-page-outro {
  margin-top: 5rem;
}