.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    min-width: 40%;
    max-height: 90%;

    left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: #111;
    font-size: 56px;
    line-height: 53px;
    margin: -10px;
    font-family: 'Coolvetica';
    font-weight: 400;

    animation: fadeIn 1s 1.8s backwards;
  }
  
  a {
    width: 120px;

  }

  h2 {
    color: #8d8d8d;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    padding: 20px 0;
    font-size: 12px;
  }

  p {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    padding: 20px 0;
    width: 450px;
    text-align: center;
  }

  

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    color: #111;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    float: left;
    text-align: center;
    animation: fadeIn 1s 1.8s backwards;

    background-color: #8ad4e5;
    border: 0;

    &:hover {
      background: #efd13b;
      color: #111;
    }
  }
}



@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}

.map-wrap {
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -4%;
  opacity: .75;
}

@media screen and (max-width: 1200px) {
  .home-page {
     display: flex;
     flex-direction: column;

     .text-zone {
      display: flex;
      flex-direction: column;
      transform: translateY(0%);
      align-items: center;
     }

     .map-wrap {
      margin: 0;
      width: 100%;
     }

     h1 {
      text-align: center;
     }

     h2 {
      text-align: center;
     }
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;

    position: absolute;
    top: 25%;
    width: 300px;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}

footer {
  position: absolute;
  top: 95%;
  left: 15%
}