nav .pages-nav {
  display: flex;
  justify-content: center;
}

nav .pages-nav a {
  padding: 0 7rem;
  height: 70vh;
  border: .5px solid purple;
  border-radius: 3rem;
}

nav .pages-nav a:hover {
  animation: swing .3s ease-in;
}

@keyframes swing {
  0% {
    transform: rotateY(40deg);
  }

  100% {
    transform: rotateY(-30deg);
  }
}