nav .pages-nav {
  display: flex;
  justify-content: center;
}

nav .pages-nav a {
  background-image: url('/images/background_decorating_image.jpeg');
  padding: 12.5rem 7rem 4rem 7rem;
  height: 30vh;
  border: .5px solid purple;
  border-radius: 1.5rem;
  perspective: 1000px;
  color: white;
  font-size: xx-large;
}

nav .pages-nav a:hover {
  animation: swing .9s step-end;
}

@keyframes swing {
  0% {
    transform: rotateY(-25deg);
  }

  100% {
    transform: rotateY(25deg);
  }
}