.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.error-page-button {
  margin-top: 2rem;
  background-color: #808080;
  color: black;
}

.error-page-button:hover {
  background-color: #bdb8aa;
  border-color: #bdb8aa;
}