html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: mintcream; 
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

footer {
  position: absolute;
  top: 95%;
  left: 12%;
  animation: fadeIn 1s 1.8s backwards;

  p {
    font-weight: bold;
    color: #8d8d8d;
  }
}

@media screen and (max-width: 1200px) {
  footer {
    position: absolute;
    bottom: 20px;
    left: 20px;

    visibility: hidden;
  }
}


